<div class="footer">
  <div class="ui container">
    <div class="media">
      <a href="https://www.facebook.com/gtshpe/">
        <i class="facebook square icon"></i>
      </a>
      <a href="https://www.instagram.com/gtshpe/">
        <i class="instagram icon"></i>
      </a>
      <a href="https://twitter.com/GT_SHPE">
        <i class="twitter icon"></i>
      </a>
      <a href="mailto:shpegt@gmail.com">
          <i class="envelope icon"></i>
        </a>
    </div>
    <div class="made-with-love">
      Made with <i class="heart icon"></i> by the GT-SHPE team
    </div>
  </div>
</div>