<div class="ui container">
  <h1>Meet our team</h1>
  <div class="ui cards">
    <div class="card">
      <div class="image">
        <img src="https://media.licdn.com/dms/image/C4E03AQEZfWSPJSDQEg/profile-displayphoto-shrink_800_800/0?e=1528488000&v=beta&t=UpLu2EHYFWLvtc0ysRAdxyo1g6gdVQKvEfuOolP6Vt4">
      </div>
      <div class="content">
        <span class="header">David Tsui Chang</span>
        <div class="meta">
          <span class="date">President</span>
        </div>
        <div class="description">
          Maes, it's a pleasure to be the president of such an amazing organization, and I can't wait to share this year with all of you!
        </div>
      </div>
      <div class="extra content">
        <a href="mailto:dtsuichang@gatech.edu">
          <i class="envelope icon"></i>
          dtsuichang@gatech.edu
        </a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://media.licdn.com/dms/image/C4E03AQF7roHUFIwIRw/profile-displayphoto-shrink_800_800/0?e=1528488000&v=beta&t=lLtDBJW2VkviK4P3sG2zzcNTNZxvN92yv-FltuHsSe4">
      </div>
      <div class="content">
        <span class="header">Juliana Mena</span>
        <div class="meta">
          <span class="date">Treasurer</span>
        </div>
        <div class="description">
          From the moment I entered SHPE I knew I wanted to contribute to this great cause, so I'm glad I can help everyone with this position
        </div>
      </div>
      <div class="extra content">
        <a href="mailto:lpastrana@gatech.edu">
          <i class="envelope icon"></i>
          lpastrana@gatech.edu
        </a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://media.licdn.com/dms/image/C4D03AQFXg-bBQlsMBA/profile-displayphoto-shrink_800_800/0?e=1528488000&v=beta&t=jQevN85yJuTZ9Lg9WMAsuLu3XoaWiXA2KFSm7DQ-RTw">
      </div>
      <div class="content">
        <span class="header">Luis Enrique Pastrana</span>
        <div class="meta">
          <span class="date">Public Relations</span>
        </div>
        <div class="description">
          Hi! I am a Sophomore in Computer Science major at Georgia Tech, and I'm happy to be a part of the SHPE familia
        </div>
      </div>
      <div class="extra content">
        <a href="mailto:lpastrana@gatech.edu">
          <i class="envelope icon"></i>
          lpastrana@gatech.edu
        </a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://media.licdn.com/dms/image/C5103AQH9aQ50Yv2w0w/profile-displayphoto-shrink_800_800/0?e=1528488000&v=beta&t=qk-4L3jtC8zCAG7aCnmwdjfZzM8d-mN8_mRpOzFpark">
      </div>
      <div class="content">
        <span class="header">Nicolas Urbicain</span>
        <div class="meta">
          <span class="date">Internal Vice-President</span>
        </div>
        <div class="description">
          Hello everyone! Hope you have a great year, and let's make every ocassion count.
        </div>
      </div>
      <div class="extra content">
        <a href="mailto:nurbicain@gatech.edu">
          <i class="envelope icon"></i>
          nurbicain@gatech.edu
        </a>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://media.licdn.com/dms/image/C5103AQFe_KHZdLABvA/profile-displayphoto-shrink_800_800/0?e=1528488000&v=beta&t=I5Eg0zrznzxb6vEAB9-CO85jLJL0iyPjDO7OAIGgwRU">
      </div>
      <div class="content">
        <span class="header">Guillermo Grande</span>
        <div class="meta">
          <span class="date">Internal Vice-President</span>
        </div>
        <div class="description">
          Being in the Eboard is a great responsibility, and I can't wait to contribute to this
        </div>
      </div>
      <div class="extra content">
        <a href="mailto:ggrande@gatech.edu">
          <i class="envelope icon"></i>
          ggrande@gatech.edu
        </a>
      </div>
    </div>
  </div>
</div>