<div class="ui secondary menu" style="background-color:rgb(14, 15, 63)">
  <div class="ui container">
    <a routerLink="/" class="item" style="padding:0px">
      <img src="../../../assets/shpelogo.png" alt="logo-white" class="ui item" height="36" style="padding:0px">
    </a>
    <a routerLink="/about" routerLinkActive="active" class="item white-font navbar-link">
      About
    </a>
    <a routerLink="/eboard" routerLinkActive="active" class="item white-font navbar-link">
      E-Board
    </a>
    <a routerLink="/sponsors" routerLinkActive="active" class="item white-font navbar-link">
      Sponsors
    </a>
    <a routerLink="/contact" routerLinkActive="active" class="item white-font navbar-link">
      Contact Us
    </a>
    <a class="right menu item" href="shpeapp">
      <div class="ui button yellow">SHPE App</div>
    </a>
  </div>
</div>